/.vscode
/.idea
/.vagrant
*.sage.py
*.tar.gz
*.tar.bz2
/pin-*
.gdb_history
peda-session-*.txt
*.pyc
ubuntu-bionic-18.04-cloudimg-console.log
proj.loader.all_object
*.so
*.xz
*.png
*.s
pin-*
patch-nm.py
sample/nm.patched
setup.sh

/sage-8.7-Ubuntu_18.04-x86_64.tar.bz2
/engine.py
/fs-*/

/bugs
/build
/problem