/.vscode
/.vagrant
*.sage.py
*.tar.gz
/pin-*
.gdb_history
peda-session-*.txt
*.pyc
ubuntu-bionic-18.04-cloudimg-console.log
proj.loader.all_object
*.so
*.xz
*.png
*.s
pin-*

/engine.py
/fs-*/